<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Fluctus.Stats.day4_x0020_-_x0020_Copy" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Fluctus.Stats.day2" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Fluctus.Stats.day3" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Fluctus.Stats.day4" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Fluctus.Stats.day5" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Fluctus.Stats.statistics" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Fluctus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Fluctus.Stats.day4_x0020_-_x0020_Copy>
            <setting name="breaks" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="skips" serializeAs="String">
                <value>0</value>
            </setting>
        </Fluctus.Stats.day4_x0020_-_x0020_Copy>
        <Fluctus.Stats.day2>
            <setting name="breaks" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="skips" serializeAs="String">
                <value>0</value>
            </setting>
        </Fluctus.Stats.day2>
        <Fluctus.Stats.day3>
            <setting name="breaks" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="skips" serializeAs="String">
                <value>0</value>
            </setting>
        </Fluctus.Stats.day3>
        <Fluctus.Stats.day4>
            <setting name="breaks" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="skips" serializeAs="String">
                <value>0</value>
            </setting>
        </Fluctus.Stats.day4>
        <Fluctus.Stats.day5>
            <setting name="breaks" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="skips" serializeAs="String">
                <value>0</value>
            </setting>
        </Fluctus.Stats.day5>
        <Fluctus.Stats.statistics>
            <setting name="breaks" serializeAs="String">
                <value>0</value>
            </setting>
        </Fluctus.Stats.statistics>
        <Fluctus.Properties.Settings>
            <setting name="Sound" serializeAs="String">
                <value>relax</value>
            </setting>
            <setting name="lang" serializeAs="String">
                <value>he</value>
            </setting>
            <setting name="forceontop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="note30" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="note2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="note30msg" serializeAs="String">
                <value />
            </setting>
            <setting name="note2msg" serializeAs="String">
                <value />
            </setting>
            <setting name="forcecenter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="gamemode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isprocesslistset" serializeAs="String">
                <value>False</value>
            </setting>
        </Fluctus.Properties.Settings>
    </userSettings>
</configuration>