<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Fluctus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Fluctus.Properties.Settings>
            <setting name="Main_Title" serializeAs="String">
                <value>Fluctus</value>
            </setting>
            <setting name="Message30" serializeAs="String">
                <value>Have a break for one minute,\rwalk around you'r workspace</value>
            </setting>
            <setting name="Message1" serializeAs="String">
                <value>Have a break for 10 minutes</value>
            </setting>
            <setting name="LabelText" serializeAs="String">
                <value>Time passed using the computer:</value>
            </setting>
            <setting name="ButtonText" serializeAs="String">
                <value>Finish Break</value>
            </setting>
            <setting name="TabName1" serializeAs="String">
                <value>Modes</value>
            </setting>
            <setting name="TabName2" serializeAs="String">
                <value>Alert Types</value>
            </setting>
            <setting name="Settings_Title" serializeAs="String">
                <value>Settings</value>
            </setting>
            <setting name="Mode1" serializeAs="String">
                <value>Sleep Mode</value>
            </setting>
            <setting name="Mode2" serializeAs="String">
                <value>Gaming Mode</value>
            </setting>
            <setting name="Mode1d" serializeAs="String">
                <value>Every time you hop above 12:00 pm an alert will rise asking you to save you'r work, after you saved it the computer will shut down and if you will try to turn it on it will shutdown again</value>
            </setting>
            <setting name="Mode2d" serializeAs="String">
                <value>Showing the breaks above the video game's full screen in the left upper corner to let you know that you should take a break after this match.</value>
            </setting>
            <setting name="Alert1" serializeAs="String">
                <value>Alarm Style</value>
            </setting>
            <setting name="Alert2" serializeAs="String">
                <value>Notification Style</value>
            </setting>
            <setting name="Alert1d" serializeAs="String">
                <value>A repetitive alarm sound that goes on till you end you'r break.</value>
            </setting>
            <setting name="Alert2d" serializeAs="String">
                <value>A relexing notification sound that goes on when you face a break.</value>
            </setting>
            <setting name="Open" serializeAs="String">
                <value>Open</value>
            </setting>
            <setting name="Settings_contex" serializeAs="String">
                <value>Settings</value>
            </setting>
            <setting name="About" serializeAs="String">
                <value>About</value>
            </setting>
            <setting name="Exit" serializeAs="String">
                <value>Exit</value>
            </setting>
            <setting name="About_lbl" serializeAs="String">
                <value>Take a Break v2</value>
            </setting>
            <setting name="About_me" serializeAs="String">
                <value>Yuval Gal</value>
            </setting>
            <setting name="Sound" serializeAs="String">
                <value>relax</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>small</value>
            </setting>
        </Fluctus.Properties.Settings>
    </userSettings>
</configuration>