<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Fluctus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Fluctus.Properties.Settings>
            <setting name="Sound" serializeAs="String">
                <value>relax</value>
            </setting>
            <setting name="lang" serializeAs="String">
                <value>he</value>
            </setting>
            <setting name="forceontop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="savepower" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="note30" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="note2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="note30msg" serializeAs="String">
                <value />
            </setting>
            <setting name="note2msg" serializeAs="String">
                <value />
            </setting>
        </Fluctus.Properties.Settings>
    </userSettings>
</configuration>